.forecast-cards {
  display: grid;
  gap: 1rem;
  /*Moblie */
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}


@media screen and (min-width: 768px) {
  /*Tablet*/
  .forecast-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
