.search {
  display: flex;
  justify-content: center;
}

.search__text-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search__autocomplete-dropdown {
  position: absolute;
  background: #284878;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  max-height: 170px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.search__autocomplete-dropdown_theme_dark {
  background-color: rgb(44, 42, 42);
  color: #fff;
  border: 0.1px solid #ebe4e4;
}

.search__autocomplete-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search__autocomplete-item:hover {
  background-color: #3862a0;
}
