.forecast-header {
  display: flex;
  gap: 20px 0;
  padding: 30px 0 46px;
  /*Moblie*/
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
.forecast-header__wrapper {
  display: flex;
  gap: 0 15px;
  align-items: center;
}
.forecast-header__img {
  /*Moblie*/
  height: 40px;
}
.forecast-header__info-text {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  color: #caf7ffe6;
}
.forecast-header__info-city {
  /*Moblie*/
  font-size: 0.9rem;
}
.forecast-header__info-details {
  font-weight: 500;
  /*Moblie*/
  font-size: 1.09rem;
}

@media screen and (min-width: 768px) {
  /*Tablet*/
  .forecast-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
  }
  .forecast-header__img {
    height: 80px;
  }
  .forecast-header__info-details {
    font-size: 2.2rem;
  }
  .forecast-header__info-city {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  /*Wide Screen*/
  .forecast-header__info-city {
    font-size: 1, 17rem;
  }
}
