.page__content {
  max-width: calc(100vw - (24px * 2));
  /*Moblie */
  margin: 0 auto;
}
.main {
  min-height: 100vh;
  padding: 10px 0;
}

.footer__copyright-text {
text-align: center;
  padding: 1px 0;
}
@media screen and (min-width: 768px) {
  /*Tablet*/
  .page__content {
    width: calc(100vw - (40px * 2));
  }
}

@media screen and (min-width: 1024px) {
  /*Wide Screen*/
  .page__content {
    width: calc(100vw - (104px * 2));
    max-width: 1440px;
  }
}
