.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  background: linear-gradient(180deg, #3c6fd1 0%, #3c6fd1 0.01%, #7ca9ff 100%);
  border: 0.2px solid rgb(53, 89, 162);
  transition: 0.5s ease-in-out;
  border-radius: 25px;
  color: rgb(33, 31, 31);
}
.forecast-card__content {
  display: flex;
  margin: 18px auto 0;
}
.forecast-card:hover {
  transform: scale(1.05);
}

.forecast-card__degrees {
  font-size: 2.2rem;
}
.forecast-card__day {
  font-size: 1.635rem;
}
.forecast-card__weather-info {
  font-size: 0.9375rem;
  margin: 0 0 20px;
}
